## infoblox creds
python/infoblox_config.yml

## hostnames for ansible
hosts

## group vars
group_vars/*

## terraform vars
terraform/*.tfvars
terraform/*-vars.tf

## terraform state
terraform/*.tfstate
terraform/*.tfstate.backup
