{
	"log-driver": "",
	"debug": {{docker_debug}},
	"api-cors-header": "{{docker_api_cors_header}}",
	{% if docker_swarm_enabled -%}
	"cluster-store": "{{docker_swarm_cluster_store}}",
	"cluster-advertise": "{{docker_swarm_cluster_advertise}}",
	{% endif -%}
	"graph": "{{docker_graph}}"
}
